<!--<div style="max-height: 300px;">
    <table cellspacing="0" cellpadding="0" class="table table-striped shadow">
        <tr>
            <th>Code</th>
            <th>User name</th>
            <th>Dealer number</th>
            <th>Permis</th>
            <th>Mot de passe</th>
        </tr>
        <tr  *ngFor="let cmpt of listcompte">
            <td class="data code">{{cmpt.code}}</td>
            <td class="data">{{cmpt.userName}}</td>
            <td class="data">{{cmpt.dealer_Number}}</td>
            <td class="data">{{cmpt.permis}}</td>
            <td class="data">{{cmpt.password}}</td>
            <td class="editBtnContainer">
                <button mat-mini-fab class="editBtn" color="primary" (click)="editUser(cmpt)">
                    <mat-icon class="editIcon">edit</mat-icon>
                </button>
            </td>
            <td class="deleteBtnContainer">
                <button mat-mini-fab class="deleteBtn " color="primary" (click)="editUser(cmpt)">
                    <mat-icon class="deleteIcon">delete</mat-icon>
                </button>
            </td>
        </tr>
        <tr *ngIf="loading">
            <td colspan="5">
                <mat-spinner   style="margin:auto" diameter="30"></mat-spinner>
            </td>
        </tr>

    </table>
</div>-->

<div class=" container containerPadding">
    <div class="row tableHeader shadow">
        <div class="col">
            <mat-icon class="thCard">fingerprint</mat-icon>
        </div>
        <div class="col">
            <mat-icon class="thCard">assignment_ind</mat-icon>
        </div>
        <div class="col">
            <mat-icon class="thCard">perm_phone_msg</mat-icon>
        </div>
        <div class="col">
            <mat-icon class="thCard">verified_user</mat-icon>
        </div>
        <div class="col">
            <mat-icon class="thCard">lock</mat-icon>
        </div>
        <div class=" col btn1"></div>
        <div class="col btn2 "></div>

    </div>
    <div *ngFor="let cmpt of listcompte" @ajouterSupprimerCompteAnim class="row tableHeader composant shadow">
        <div class="col"><span>{{cmpt.code}}</span></div>
        <div class="col"><span>{{cmpt.userName}}</span></div>
        <div class="col"><span>{{cmpt.dealer_Number}}</span></div>
        <div class="col"><span>{{cmpt.permis}}</span></div>
        <div class="col"><span>{{cmpt.password}}</span></div>
        <div class="col btn2">
            <button mat-mini-fab class="editBtn" color="primary" (click)="editUser(cmpt)">
                <mat-icon class="editIcon">edit</mat-icon>
            </button>
        </div>
        <div class="col btn1">
            <button mat-mini-fab class="deleteBtn " color="primary" (click)="openDialog(cmpt)">
                <mat-icon class="deleteIcon">delete</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="loading" class="row tableHeader cploading shadow">
        <div class="col">
            <mat-spinner style="margin:auto" diameter="30"></mat-spinner>
        </div>
    </div>
    <div *ngIf="!loading" class="row tableHeader cploading shadow">
        <div class="col">
            <button mat-button class="addComptBtn" (click)="openAddUserDialoge()">
                Ajouter un compte 
                <mat-icon class="editIcon">add</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="afficherMUsrImg||afficherAUsrImg" @ajouterModifierAnim class="row boxAdd firstCol ">
        <!--  LENA TZID EL DIV ELE FIH EL TASWIRA MTA3 EL MODIFIER  -->
        <div *ngIf="afficherMUsrImg" class="boxImage shadow col">
            <img src="../../../../assets/image/Version control-bro.png" alt="" class="addUserImage img-fluid">
        </div>
        <!--  LENA EL DIV MTA3 EL FORM -->
       
        <form #f="ngForm" ngForm class="formStyle shadow col-8" (keydown.enter)="$event.preventDefault()">
            
            <div class="row inputContainer">
                <div class="col">
                    <input type="text" class="d-none" [(ngModel)]="id" name="id" >
                    <mat-form-field class="inputField">
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input  required 
                                minlength="3" 
                                maxlength="30" 
                                matInput 
                                placeholder="Ex. Youssef" 
                                [(ngModel)]="userName" 
                                #usr="ngModel"
                                name="userName">
                        <mat-hint *ngIf="usr.touched&&!usr.valid" class="hintPsd" >
                            <mat-icon>error</mat-icon>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saisissez votre nom d'utilisateur
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="inputField">
                        <mat-label>Téléphone</mat-label>
                        <span matPrefix>+216 &nbsp;</span>
                        <input  required 
                                type="tel" 
                                minlength="8" 
                                maxlength="8" 
                                pattern="^\d*(\.\d{0,2})?$" 
                                matInput placeholder="555-555-1234" 
                                [(ngModel)]="dNumber"
                                #tel="ngModel" 
                                name="dNumber">
                            <mat-hint *ngIf="tel.touched&&!tel.valid" class="hintPsd" >
                                <mat-icon>error</mat-icon>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saisissez un numéro de téléphone valide 
                            </mat-hint>
                    </mat-form-field>

                    <mat-radio-group required class="inputField" aria-label="Select an option" [(ngModel)]="permis"
                        name="permis">
                        <mat-radio-button class="radioBtn1" value="1" selected=1>Responsable</mat-radio-button>
                        <mat-radio-button class="radioBtn2" value="2" selected=2>Agent</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col">
                    <mat-form-field class="inputField">
                        <mat-label>Mot de passe</mat-label>
                        <input  matInput 
                                placeholder="" 
                                [type]="(hidePsd)?'password':'text'" 
                                name="mdp1" 
                                required
                                minlength="8"
                                pattern ="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{3,30})" 
                                [(ngModel)]="psd1"
                                #mdp1="ngModel" 
                                (keydown.enter)="f.valid?addUser():''"
                                >
                        
                        
                        <mat-hint *ngIf="mdp1.touched&&!mdp1.valid" class="hintPsd" >
                            <mat-icon>error</mat-icon>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8 caractères au moins avec des majuscules et des nombres.
                        </mat-hint>
                        
  
                        <button class="psdBtn" (click)="hidePsd=!hidePsd" mat-icon-button color="primary"
                            aria-label="Example icon button with a home icon">
                            <mat-icon>{{(hidePsd)?'visibility_off':'visibility_on'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="inputField">
                        <mat-label>Confirmer le mot de passe</mat-label>
                        <input  required 
                                name="psd2" 
                                [type]="(hidePsd)?'password':'text'" 
                                pattern ="{{psd1}}"  
                                matInput placeholder="" 
                                [(ngModel)]="psd2"  
                                #mdp2="ngModel"
                                (keydown.enter)="f.valid?addUser():''">
                        <mat-hint *ngIf="mdp2.touched&&!mdp2.valid" class="hintPsd" ><mat-icon>error</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ces mots de passe ne correspondent pas. Veuillez réessayer.</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="row btnAddContainer inputField">
                <button *ngIf="afficherAUsrImg" type="submit" class="addBtn" mat-raised-button [disabled]="!f.valid" (click)="addUser()">
                    <span *ngIf="!loadingBtn">Ajouter</span>
                    <mat-spinner *ngIf="loadingBtn" style="margin:auto" diameter="30"></mat-spinner>
                </button>
                <button *ngIf="afficherMUsrImg" type="submit" class="addBtn" mat-raised-button [disabled]="!f.valid" (click)="updateUser()">
                    <span *ngIf="!loadingBtn">Modifier</span>
                    <mat-spinner *ngIf="loadingBtn" style="margin:auto" diameter="30"></mat-spinner>
                </button>
            </div>
            <button mat-icon-button type="button" class="closeBtn" (click)="closeAU(f)" >
                <mat-icon>close</mat-icon>
            </button>
        </form>
        <!--  LENA TZID EL DIV ELE FIH EL TASWIRA MTA3 EL AJOUTER  -->
        <div *ngIf="afficherAUsrImg" class="boxImage shadow col">
            <img src="../../../../assets/image/Add User.png" alt="" class="addUserImage img-fluid">
        </div>
    </div>

</div>