/*.table-striped
{
  background-color: white;
  color: #425C5A;
  border-radius: 20px;
  margin: auto;
  width: 90%;
 
  margin-top: 20px;
  vertical-align: center;
  font-weight: 500;
  max-height: 500px;
  max-width: 1000px;;
}
.data
{
  max-height: 80px;
  padding-top: 20px;
  font-size: 15px;
}

div{
  padding-top:100px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1
{
  font-size: 30px;
  color:#425C5A ;
  font-weight: 700;
}

.editBtn
{
  color: #425C5A !important;
  padding: 0px i !important;
  
}
.editIcon
{
  color: #d6a217 !important;
}
.deleteBtn
{
  color: #425C5A !important;
}
.deleteIcon
{
  color: #d6a217 !important;
 
}
.editBtnContainer
{
  width: 50px;
  padding-right: 0px;
}
.deleteBtnContainer
{
  width: 50px;
}
.table th{
  border-top:0px !important;
}*/
div.tableHeader
{
  background-color: aliceblue;
  border-radius: 20px;
  height: 50px;
  text-align: center;
  max-width: 800px;
  padding: 13px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.boxAdd
{
  background-color: #425C5A ;
  height: 600px;
  min-width:200px;
  border-radius: 20px;
}
mat-icon.thCard
{
  color: #d6a217

}

div.containerPadding
{
  padding-top: 100px;
  margin: auto;
  padding-bottom: 100px;
  width: 95%;
}
.thCard
{
  
  text-align: center;
}
div.composant
{
  margin-top: 10px;
  padding-top: 16px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.editBtn
{
  position: absolute;
  top: -12px;
}
.deleteBtn
{
  position: absolute;
  top: -12px;
}
.btn1{
  max-width: 50px;
  margin-right: 10px;
}
.btn2{
  max-width: 50px;
}
/*****AddUser*********/

.matLabel
{
  color: aliceblue;
}
.permisInpute
{
  padding-left: 20px;
  border-color: antiquewhite;
}
.radioBtn1
{
  color: #d6a217;
  margin-right: 5px;
  
}
.radioBtn2
{
  color: #d6a217;
}
.inputContainer
{
  margin:auto;
  padding-left:35px;
  padding-top: 50px;
}
.addBtn
{
    background-color: #e9b423 !important;
    color:#415959 ;
}
.btnAddContainer{
  padding-left: 85px;
}