/*.table-striped
{
  background-color: white;
  color: #425C5A;
  border-radius: 20px;
  margin: auto;
  width: 90%;
 
  margin-top: 20px;
  vertical-align: center;
  font-weight: 500;
  max-height: 500px;
  max-width: 1000px;;
}
.data
{
  max-height: 80px;
  padding-top: 20px;
  font-size: 15px;
}

div{
  padding-top:100px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1
{
  font-size: 30px;
  color:#425C5A ;
  font-weight: 700;
}

.editBtn
{
  color: #425C5A !important;
  padding: 0px i !important;
  
}
.editIcon
{
  color: #d6a217 !important;
}
.deleteBtn
{
  color: #425C5A !important;
}
.deleteIcon
{
  color: #d6a217 !important;
 
}
.editBtnContainer
{
  width: 50px;
  padding-right: 0px;
}
.deleteBtnContainer
{
  width: 50px;
}
.table th{
  border-top:0px !important;
}*/

div.tableHeader
{
  background-color: aliceblue;
  border-radius: 20px;
  height: 50px;
  text-align: center;
  width:95%;
  min-width: 600px;
  padding: 13px;
  margin:auto;
  user-select: none;
}
.boxAdd
{
  height:fit-content;
  width:fit-content;
  padding:20px;
  border-radius: 20px;
  margin: auto;
  margin-top:18px;
  transition: 0.3s all ease-in-out;
}
mat-icon.thCard
{
  color: #d6a217
}

div.containerPadding
{
  padding-top: 20px;
  margin: auto;
  padding-bottom: 50px;
  width: 95%;
  height: 100%;
  transition: 0.9s;
}
.thCard
{
  
  text-align: center;
}
div.composant
{
  margin-top: 10px;
  padding-top: 16px;
  font-weight: 500;
  font-size: 13px;
  position: relative;
}
.editBtn
{
  position: absolute;
  top: -12px;
  z-index: 10;
  transition : 0.3s;
}
.editBtn:hover{
  color : #d6a217
}
.deleteBtn
{
  position: absolute;
  top: -12px;
  z-index: 10;
  transition : 0.3s;
}
.deleteBtn:hover{
  color: #eb4d4b;
}
.btn1{
  max-width: 50px;
  margin-right: 10px;
}
.btn2{
  max-width: 50px;
}
.cploading{
  margin-top: 10px  !important;
  padding: 10px !important;
  position: relative;
}

/*****AddUser*********/
.matLabel
{
  color: black;
  margin:auto
}
.radioBtn1
{
  margin-right: 10px;
  margin-top:15px;
}
.radioBtn2
{
  margin-top:15px;
}

.addBtn
{
  background-color: #e9b423 !important;
  display: block !important;
  margin:auto;
  margin-top:30px;
  margin-bottom:30px;
  width : 160px;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  color:#415959 ;
}
.inputField{
  margin:auto;
  width:250px;
  max-width:200px;
  display: block !important;
  margin-top:20px;
}

.inputContainer{
  margin:auto;
  padding-left:10px;
  padding-right:10px;
}

.psdBtn{
  position : absolute ; 
  right : 0px;
  bottom : 0px 
}

::ng-deep mat-dialog-container{
  border-radius: 25px !important;
  position : relative !important;
}
.boxImage
{ 
  width: 300px !important;
  background-color: #425C5A;
  border-radius: 25px;
  position: relative;
}
.addUserImage
{
  width:90%;
  position: absolute;
  left: 50%; 
  top: 50%; 
   transform: translate(-50%, -50%); 
}

.formStyle
{
  background-color: aliceblue;
  border-radius: 25px;
  width: 685px !important;
  min-width: fit-content;
  margin-right: 25px;
  margin-left: 25px;
  padding-top:20px;
  position: relative;
}

@media(max-width:1133px)
{
  .boxImage 
  {
    display: none;
  }
  .formStyle
  {
    width: fit-content !important;
    height: 450px;
  }  
}
.addComptBtn
{
  border-radius: 15px;
  position: relative;
  height: 100% !important;
  top: -3px;
  min-width: 100%;
  padding: 0px !important;
}
/* HINT */
.hintPsd{
  color: #d93025;
  font-size: 13px;
  position: relative ; 
  line-height: 1.2;
  font-style: italic;
}
.hintPsd mat-icon{
  text-align: center ;
  font-size: 15px;
  position: absolute;
  top : -1px;
}
.closeBtn
{
  position: absolute;
  left: 8px;
  top: 6px;
  z-index: 10;
}