<div class=" container containerPadding">

    <div class="resultats">
    
        Panier ({{this.listePanier.length}})
    </div>
    <div class="row tableHeader shadow">
        
        <div class="col">
            Réf Art
        </div>
        <div class="col-2">
            Libellé
        </div>
        <div class="col">
            PU
        </div>
        <div class="col">
            Qté
        </div>
        <div class="col">
            Total HT
        </div>
        <div class="col-2">
            Type Cmd
        </div>
        <div class="btn2"></div>
        <div class="col btn1">
        </div>


    </div>
    <div *ngIf="loadingListe" class="row shadow tableHeader composant"style="padding: 0px" >
        <mat-spinner  style="margin:auto;" diameter="30"></mat-spinner>
    </div>
    <div  *ngFor="let item of listePanier ;let index=index"  class="row shadow tableHeader composant"
        [class]="(this.moreDetailtest[index])?'moreDetail':''" @lignePanierAnim>
        <div class="col" *ngIf="!loadingListe">
            <div class="row">
                <div class="col"><span>{{listePanier[index].codeArt}}</span></div>
                <div class="col-2"><span>{{listePanier[index].libelle}}</span></div>
                <div class="col"><span>{{this.formatMoney(listePanier[index].pu)}}</span></div>
                <div class="col"><span>{{listePanier[index].qte}}</span></div>
                <div class="col"><span>{{this.formatMoney(listePanier[index].totLigneHt)}}</span></div>
                <div class="col-2"><span>{{(listePanier[index].typeCmd==0)?'commande normale':'commande ferme'}}</span>
                </div>
                <div *ngIf="listePanier[index].typeCmd==1" class="btn2">
                    <button mat-icon-button (click)="openDetail(index)">
                        <mat-icon>{{(!moreDetailtest[index])?'keyboard_arrow_down':'keyboard_arrow_up'}}</mat-icon>
                    </button>
                </div>
                <div class="col btn1">
                    <button mat-mini-fab class="addPanier deleteBtn" color="primary"
                        (click)="deletLigne(listePanier[index].numLigne,index);verifPanierVide()">
                        <mat-icon class="addPanierIcon deleteBtn">delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row moreDetailContainer" [class]="(!detailValue[index])?'moreDetailContainerHide':''">
                <div></div>
                <div class="col">
                    <span class="moreDetailLabel">VIN : </span>
                    <span>{{listePanier[index].vin}}</span>
                </div>
                <div class="col">
                    <span class="moreDetailLabel">N°OR : </span>
                    <span>{{listePanier[index].numInterv}}</span>
                </div>
                <div class="col">
                    <span class="moreDetailLabel">Nom Client : </span>
                    <span>{{listePanier[index].nomClient}}</span>
                </div>
            </div>
        </div>
    </div>
    <div  class="inputData shadow" >
        <form #f="ngForm" ngForm class="formStyle" (keydown.enter)="$event.preventDefault()">
            <div class="row">
                <mat-form-field class="col-4" >
                    <mat-label>Type de Commande</mat-label>
                    <mat-select name="typeCommande" [(ngModel)]="typeCommande" required>
                        <mat-option value="1">Commande Ferme</mat-option>
                        <mat-option value="0">Command Normale</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label>Réf Commande</mat-label>
                    <input required minlength="10" maxlength="10" matInput placeholder="Ex. 5F10991298" name="refCmd"
                        [(ngModel)]="refCommande" #refCmd="ngModel" oninput="this.value = this.value.toUpperCase()">
                    <mat-hint *ngIf="refCmd.touched&&!refCmd.valid" class="hint">
                        <mat-icon>error</mat-icon>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saisissez la réference de la commande
                    </mat-hint>
                </mat-form-field>
                <div class="col" class="totalPanierContainer">
                    <span>total Panier : </span>
                </div>
            </div>
            <div class="row secondRow">
                <mat-form-field class="col-4">
                    <mat-label>Mode de Paiement</mat-label>
                    <mat-select name="modePaiment" [(ngModel)]="modePaiment" required>
                        <mat-option value="0">Especes</mat-option>
                        <mat-option value="1">Cheque</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label>choisir une date</mat-label>
                    <input matInput [matDatepicker]="picker" name="dateDeCommande" [(ngModel)]="dateDeCommande" required
                        [min]="minDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <span class="col totalPrix">{{this.totHT}}</span>
            </div>
            <div class="row">
                <button type="submit" class="commanderBtn" mat-raised-button [disabled]="!(f.valid && this.disableBlock)"
                    (click)="commander();verifPanierVide()">
                    <mat-spinner *ngIf="loadingBtn" style="margin:auto" diameter="30"></mat-spinner>
                    <mat-icon *ngIf="!loadingBtn" aria-hidden="false">
                        <span class="material-icons-round">
                            playlist_add
                            </span>
                    </mat-icon>
                    <span *ngIf="!loadingBtn"> Commander</span>
                </button>
            </div>
        </form>
    </div>
    
</div>