.tableHeaderRighte
{
    border-top-right-radius: 20px !important;
}
.tableHeaderleft
{
    border-top-left-radius: 20px !important;
}

.table-striped
{
  background-color: white;
  color: #425C5A;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  margin-top: 20px;
  vertical-align: center;
  font-weight: 500;
  max-height: 500px;
  max-width: 1200px;;
}
.data
{
  max-height: 80px;
  vertical-align: center;
  font-size: 15px;
  font-size: 13px;
}

div.pageContainer{
  margin: auto;
  padding:50px;
  padding-top:70px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1
{
  font-size: 30px;
  color:#425C5A ;
  font-weight: 700;
}
.table th{
  border-top:0px !important;
  background-color: #364547;
    color: #d6a217;
}
.tableFooter
{
  background-color: #36454710;
  height: 45px;
  font-weight: 700;
}
.footerLeft{
  border-bottom-left-radius: 20px !important;
}
.footerRigth{
  border-bottom-right-radius: 20px !important;
}
.refCmd
{
  text-align: left;
  color:#425C5A ;
  margin-left: 60px;
}
.backBtn
{
    background-color: #415959;
    margin: auto;
    margin-top:20px;
    border-radius: 20px;
    height: 45px;
    width: 150px;
    color: #d6a217;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}
.tableData
{transition: transform .2s}
.tableData:hover
{
  background-color: aliceblue;
  transform: scale(1.1);
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%) !important;

}
