<!-- <div class=" container containerPadding">

    <div class="resultats">
        Panier ({{this.listePanier.length}})
    </div>
    <div class="row tableHeader shadow">

        <div class="col">
            Réf Art
        </div>
        <div class="col-2">
            Libellé
        </div>
        <div class="col">
            PU
        </div>
        <div class="col">
            Qté
        </div>
        <div class="col">
            Total HT
        </div>
        <div class="col-2">
            Type Cmd
        </div>
        <div class="btn2"></div>
        <div class="col btn1">
        </div>
    </div>
    <div class="row shadow tableHeader composant" [class]="(this.moreDetailtest[0])?'moreDetail':''" @lignePanierAnim>
        <div class="col">
            <div class="row">
                <div class="col"><span>exemple</span></div>
                <div class="col-2"><span>exemple</span></div>
                <div class="col"><span>exemple</span></div>
                <div class="col"><span>exemple</span></div>
                <div class="col"><span>exemple</span></div>
                <div class="col-2"><span>exemple</span>
                </div>
                <div class="btn2">
                    <button mat-icon-button (click)="openDetail(0)">
                        <mat-icon>{{(!moreDetailtest[0])?'keyboard_arrow_down':'keyboard_arrow_up'}}</mat-icon>
                    </button>
                </div>
                <div class="col btn1">
                </div>
            </div>
            <div class="row moreDetailContainer" [class]="(!detailValue[0])?'moreDetailContainerHide':''">
                <div></div>
                <div class="col">
                    <span class="moreDetailLabel">VIN : </span>
                    <span>exemple</span>
                </div>
                <div class="col">
                    <span class="moreDetailLabel">N°OR : </span>
                    <span>exemple</span>
                </div>
                <div class="col">
                    <span class="moreDetailLabel">Nom Client : </span>
                    <span>exemple</span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="pageContainer">
    <h2 class="refCmd">Réf Cmd : <span>{{this.refCmd}}</span></h2>
    <table cellspacing="0" cellpadding="0" class="table table-striped shadow">
        <tr>
            <th class="tableHeaderleft">Ligne</th>
            <th>Réf Art</th>
            <th>libelle</th>
            <th>VIN</th>
            <th>N°Or</th>
            <th>Nom Client</th>
            <th>Qte</th>
            <th>Qte livreé</th>
            <th>Qte Fact</th>
            <th>PU</th>
            <th class="tableHeaderRighte">Total HT</th>
        </tr>
        <tr class="tableData" *ngFor="let item of listePanier ;let index=index" @enterAnimation>
            <td style="border-top-left-radius: 20px !important;
            border-bottom-left-radius: 20px !important;" class="data">{{index+1}}</td>
            <td class="data">{{listePanier[index].codeArt}}</td>
            <td class="data">{{listePanier[index].libelle}}</td>
            <td class="data">{{listePanier[index].vin}}</td>
            <td class="data">{{listePanier[index].numInterv}}</td>
            <td class="data">{{listePanier[index].nomClient}}</td>
            <td class="data">{{listePanier[index].qte}}</td>
            <td class="data">{{listePanier[index].qteLivree}}</td>
            <td class="data">{{listePanier[index].qteFacturee}}</td>
            <td class="data">{{this.formatMoney(listePanier[index].pu)}}</td>
            <td class="data " style="border-top-right-radius: 20px !important;
            border-bottom-right-radius: 20px !important;">{{this.formatMoney(listePanier[index].totLigneHt)}}</td>
        </tr>
        <tr *ngIf="!loading" class="tableFooter" @enterAnimation>
            <td colspan="6" class="footerLeft">Totale</td>
            <td>{{this.totalQte}}</td>
            <td>{{this.totalQteL}}</td>
            <td>{{this.totalQteF}}</td>
            <td></td>
            <td class="footerRigth">{{this.formatMoney(totalHT)}}</td>
        </tr>
        <tr *ngIf="loading" @enterAnimation>
            <td colspan="11">
                <mat-spinner style="margin:auto" diameter="30"></mat-spinner>
            </td>
        </tr>
    </table>
    <div>
        <button type="submit" class="backBtn" mat-raised-button (click)="precedent()">
            <span>Precedent</span>
        </button>
    </div>
</div>