.tableHeaderRighte
{
    border-top-right-radius: 20px !important;
}
.tableHeaderleft
{
    border-top-left-radius: 20px !important;
}

.table-striped
{
  background-color: white;
  color: #425C5A;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  margin-top: 40px;
  font-weight: 500;
  max-height: 500px;
  max-width: 1200px;
}
.data
{
  max-height: 80px;
  vertical-align: center;
  font-size: 15px;
  font-size: 13px;
}

div.pageContainer{
  margin: auto;
  padding-top:70px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1
{
  font-size: 30px;
  color:#425C5A ;
  font-weight: 700;
}
.table th{
  border-top:0px !important;
  background-color: #364547;
  color: #d6a217;
}
.tableFooter
{
  background-color: #36454710;
  height: 45px;
  font-weight: 700;
}
.footerLeft{
  border-bottom-left-radius: 20px !important;
}
.footerRigth{
  border-bottom-right-radius: 20px !important;
}
.refCmd
{
  text-align: left;
  color:#425C5A ;
  margin-left: 60px;
}
.backBtn
{
  background-color: #415959;
  margin: auto;
  margin-top:20px;
  border-radius: 20px;
  height: 45px;
  width: 150px;
  color: #d6a217;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}

.tableData:hover
{
  background-color: aliceblue;
  transform: scale(1.1);
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%) !important;
}
/************div info*******************/
.divInfo
{
  background-color: white;
  margin: auto;
  width: 90%;
  height: 60px;
  border-radius: 20px;
  padding: 12px;
  padding-top: 20px;  
}
.labelInfo
{
  letter-spacing: 3px;
  font-size: 17px;
  font-weight: 600;
  color: #d6a217;
}
.firstBox
{
  padding: 20px;
  margin-top: 40px;
  background-color: #2b729c;
  border-radius: 20px;
  height: 150px;
  margin-right: 7px ;
  margin-left: 7px;
  text-align: center;
  color: white !important;
  border: none !important;
  cursor: pointer;
}
.secondBox
{
  background-color: #38a984;
  padding: 20px;
  margin-top: 40px;
  border-radius: 20px;
  height: 150px;
  margin-right: 7px ;
  margin-left: 7px;
  text-align: center;
  color: white !important;
  border: none !important;
  cursor: pointer;
}
.thirdBox
{
  padding: 20px;
  margin-top: 40px;
  border-radius: 20px;
  height: 150px;
  margin-right: 7px ;
  margin-left: 7px;
  text-align: center;
  background-color: #d49d23;
  color: white !important;
  border: none !important;
  cursor: pointer;
}
.boxData{
  margin: auto;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
}
.icon{
  margin-bottom: 18px;
}

.boxFooter
{
  position: absolute;
  letter-spacing: 2px;
  padding-top: 3px;
  font-weight: 300;
  border-top: white solid 1px;
  color: white;
  bottom: 5px;
  right: 20px;
  left: 20px;
}
/********hover animation*/
.firstBox:hover
{
  background-color: aliceblue;
  color: #364547 !important;
  border: none !important;
  transition: 0.3s ;
  transform: scale(1.2);  
  z-index: 10;
}
.firstBox:hover .boxFooter ,.firstBox
{
  color: #364547;
  border-top:  #364547 solid 1px;
  transition: 0.3s ;
}


.secondBox:hover
{
  background-color: aliceblue;
  color: #364547 !important;
  border: none !important;
  transition: 0.3s ;
  transform: scale(1.2);  
  z-index: 10;
}
.secondBox:hover .boxFooter ,.secondBox
{
  color: #364547;
  border-top:  #364547 solid 1px;
  transition: 0.3s ;
}

.thirdBox:hover
{
  background-color: aliceblue;
  color: #364547 !important;
  border: none !important;
  transition: 0.3s ;
  transform: scale(1.2);  
  z-index: 10;
}
.thirdBox:hover .boxFooter ,.thirdBox
{
  color: #364547;
  border-top:  #364547 solid 1px;
  transition: 0.3s ;
}

/******/