<div class="container containerPadding">
    
    <div class="inputData shadow">
        <form #f="ngForm" ngForm class="formStyle">
            <div class="row">
                <div class="col">
                    <mat-form-field class="inputFieldRef">
                        <mat-label>Réf</mat-label>
                        <input required="true" minlength="8" maxlength="30" matInput placeholder="Ex. 5F10991298" name="ref"
                            [(ngModel)]="refPr" #ref="ngModel" oninput="this.value = this.value.toUpperCase()">
    
                        <mat-hint *ngIf="ref.touched&&!ref.valid" class="hint">
                            <mat-icon>error</mat-icon>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saisissez la réference de la pièce
                        </mat-hint>
                    </mat-form-field>
                </div> 
                <div class="col">
                    <div class="row">
                        <button type="submit" class="chercherBtn " mat-raised-button (click)="chercherAgents()">
                            <mat-icon aria-hidden="false"><span>
                                    manage_search</span>
                            </mat-icon>
                            <span> Chercher</span>
                        </button>
                        <button type="submit" class="afficherAgents " mat-raised-button (click)="getInterAgentsStock()">
                            <mat-icon aria-hidden="false">refresh</mat-icon>
                            <span> tous les agents</span>
                        </button>
                    </div>
                </div>
               
                
            </div>

            
        </form>
    </div>
    <div class="resultats">
        agents ({{tailleList}}) 
    </div>
    <div class="dealerBoxList">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell  *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="iconClass" *ngIf="column=='dealerPhoneNumber'"> phone</mat-icon>
                    {{element[column]}} 
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <div class="row articleStock articleStocHeader" *ngIf="element.dealerStockList.length>0">
                                <div class="col">
                                    Code article
                                </div>
                                <div class="col">
                                    Libelle
                                </div>
                              
                                <div class="col">
                                    Disponibilité
                                </div>
                           
                            </div>
                           
                            <div class="row articleStock" *ngFor="let stockPr of element.dealerStockList " >
                                <div class="col">
                                    {{stockPr.codArt}}
                                </div>
                                <div class="col">
                                    {{stockPr.libelle}}
                                </div>
                         
                                <div class="col">
                                    <mat-icon class="tooltip" *ngIf="stockPr.stock > 5" class="stockDispoIcon">assignment_turned_in</mat-icon>
                                    <mat-icon class="tooltip" *ngIf="stockPr.stock > 0 && stockPr.stock < 5" class="stockLimitIcon">assignment_late</mat-icon>
                                    <mat-icon *ngIf="!stockPr.stock" class="stockNonDispotIcon">cancel</mat-icon>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <div class="shadow articleInt" *ngIf="articleIntrouvable">
            Réferance Introuvable 
        </div>
    </div>

</div>