div.containerPadding
{
    padding-top: 20px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 50px;
    min-width: 900px !important;
    width: 95%;
    height: 100%;
    transition: 0.9s;
}
.resultats
{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #415959;
  width: 95%;
  margin: auto;
  font-weight: 500;
}
.inputData{
    padding: 20px;
    width:95%;
    min-width: 600px;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    position: relative;
}

.chercherBtn
{
    background-color: #d6a217;
    border-radius: 20px;
    height: 45px;
    width: 150px !important;
    color: #415959;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    margin:auto;
    display: block;
    margin-top: 5px;
}
.afficherAgents
{
    background-color: #3D5654;
    border-radius: 20px;
    height: 45px;
    width: 200px !important;
    color: #d6a217;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    margin:auto;
    display: block;
    margin-top: 5px;
}
.inputFieldRef
{
    min-width: 250px;
    max-width: 250px;
    margin-left: 25px;
    display : block
}
.hint{
    color: #d93025;
    font-size: 13px;
    position: relative ; 
    line-height: 1.2;
    font-style: italic;
}
.hint mat-icon{
    text-align: center ;
    font-size: 15px;
    position: absolute;
    top : -1px;
}
.textArea
{
  min-width: 250px;
  max-width: 250px;
  margin : auto ; 
  display : block
}
textarea
{
  max-height: 60px;
}

.dealerBoxList{
    width:95%;
    min-width: 600px;
    margin: auto;
    border-radius: 20px;
    min-height: 400px;
    position: relative;
}


/**** ngTable ****/
table {
    width: 100%;
    cursor : pointer ;
    text-align: left;
}
  
tr.example-detail-row {
    height: 0;
}
  
tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
  
.example-element-row td {
    border-bottom-width: 0;    
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
  
.example-element-detail {
    overflow: hidden;
    display: flex;
}
  

  
.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}
  
.example-element-description {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 99%;
    margin:auto ; 
}
  
.example-element-description-attribution {
    opacity: 0.5;
}
.articleStocHeader{
    font-weight: 600;
    font-size:15px; 
    letter-spacing: 2px;
    background-color: #5a8a86  !important;
    border : 1.5px solid #5a8a86 !important ; 
    color : #fac022 ; 
}
.articleStock{
    text-align: center;
    margin : auto ; 
    margin-top:10px;
    padding :13px ; 
    width:95%;
    background-color: #E3F2F1 ;
    border-radius: 20px;
    border : 1.5px solid #d6a217 ; 
    font-size: 15px ;
    font-weight: 400;
}

.mat-header-row{
    display : none ; 
}
.mat-elevation-z8{
    border-radius: 20px;
    border : 0px ; 
    overflow: hidden !important;
}
.mat-cell{
    font-size: 17px !important;
    font-weight: 400;
    color :#3D5654;
}


.iconClass{
    left: -7px;
    top: 6px;
    position: relative;
    color : #d6a217
}