<div class="containerPadding">
    <div id="print-section">
        <div class="printDevisSection">
            <div class="titlePrint">DEVIS</div>
            <div class="headerDevis" @enterAnimationLivrBox>
                <div class="row">
                    <div class="col-8">
                        <div>Nom Client : {{this.devisInfo.nomClient}}</div>
                        <br>
                        <div>ID Fiscal &nbsp; &nbsp; : {{this.devisInfo.idFisc}}</div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col" style="text-align: right;">N°Devis :</div>
                            <div class="col"> {{this.devisInfo.numDevis}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col" style="text-align: right;">Date Devis :</div>
                            <div class="col"> {{this.devisInfo.date_Creation| date :'dd/MM/yyyy'}}</div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="tableContainer">
                <div class="tableDevis" @enterAnimationTable>
                    <div class="tableHeaderDevis row">
                        <div class="col-2">Réf Art</div>
                        <div class="col-3">libelle</div>
                        <div class="col">Qte</div>
                        <div class="col-2">Remise </div>
                        <div class="col-2">PU</div>
                        <div class="col-2">Total HT</div>
                    </div>
                    <div *ngFor="let listDevis of listePrDevis ;let index=index" class="row">
                        <div class="col-2 colunDevis">{{listDevis.codeArt}}</div>
                        <div class="col-3 colunDevis">{{listDevis.libelle}}</div>
                        <div class="col colunDevis">{{listDevis.qte}}</div>
                        <div class="col-2 colunDevis">{{this.formatMoney(listDevis.remise)}}</div>
                        <div class="col-2 colunDevis">{{this.formatMoney(listDevis.pu)}}</div>
                        <div class="col-2 colunDevis">{{this.formatMoney(listDevis.totLigne-listDevis.remise)}}</div>
                    </div>
                </div>
                <div class="row tableTotal" @enterAnimationTableTotal>
                    <div class="col">
                        <div class="row tableTotalHeadr" style="border-top: 0px;">
                            <div class="col-4 titleFooter">Totale Net HT :</div>
                            <div class="col-8 footerValue"> {{this.formatMoney(this.devisInfo.totHt)}}</div>
                        </div>
                        <div class="row tableTotalHeadr">
                            <div class="col-4 titleFooter">Totale TVA :</div>
                            <div class="col-8 footerValue"> {{this.formatMoney(this.devisInfo.toTaxes)}}</div>
                        </div>
                        <div class="row tableTotalHeadr">
                            <div class="col-4 titleFooter">Totale TTC ( Inclut timbre "{{this.formatMoney2(this.devisInfo.timbre)}}" ) :</div>
                            <div class="col-8 footerValue"> {{this.formatMoney(this.devisInfo.totTtc)}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="remaqueText">NB: Le prix est donné à titre indicatif, le prix définitif sera celui du jour de la
                facturation.</div>
            <button type="submit" class="printDevis" mat-raised-button printSectionId="print-section"
                styleSheetFile="devis-detail.component.css" [useExistingCss]="true" ngxPrint>
                <mat-icon class="printIcon" aria-hidden="false"><span>
                        print</span>
                </mat-icon>
                <span> Imprimer</span>
            </button>
            <button type="submit" class="backBtn" mat-raised-button (click)="precedent()">
                <mat-icon aria-hidden="false"><span>
                        arrow_back</span>
                </mat-icon>
                <span>Precedent</span>
            </button>
            <button type="submit" class="ajouterLigneDevisDialog" mat-raised-button (click)="openDialog()" >
                <mat-icon aria-hidden="false"><span>
                        add</span>
                </mat-icon>
                <span>Ajouter un article</span>
            </button>
        </div>
    </div>

</div>