@media screen {
  #print-section
{
    margin: auto;
    width: 95%
}
    div.containerPadding
{
  padding-top: 20px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  min-width: 900px !important;
  width: 95%;
  height: 100%;
  transition: 0.9s;
  border-radius: 20px;
}
/************Affichage style****************/
.tableDevis
{
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 20px;overflow:hidden ;
    
}
.footerValue
{
  margin: auto;
  font-weight: 500;
  color: #425c5a;
  text-align: center;
  
}

.tableTotal
{
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  overflow: hidden;
}
.tableContainer
{
  position: relative;
}
.tableTotalHeadr
{
  background: white;
  height: 45px;
  border-top: #e4e4e4 1px solid;
}
.titleFooter
{
  font-weight: 500;
  background-color: #364547;
  padding: 12px;
  color: #ca9b1b;
  text-align: center;

}

.headerDevis
{
    height: max-content;
    color: #425c5a;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    margin: auto;
    width: 100%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.printDevisSection
{ 
  height: 100%;
  width: 100%!important;
  position: relative;

}
.tableHeaderDevis
{
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.186);
    border-bottom: 0px;
    background-color: #364547;
    padding: 12px;
    color: #d6a217;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
}
.remaqueText
{
  display: none;
  text-align: center;
  font-size: 10px;
  color:  gray;
  margin-top: 30px;
  padding: 0px;
}
.colunDevis
{
    border-top: rgba(128, 128, 128, 0.186) 1px solid;
    height: 45px;
    padding: 12px;
    text-align: center;
    color: #425c5a;
    font-weight: 500;
    background: white;
}
.titlePrint
{
  display: none;
  font-weight: 500;
  margin: auto;
  width: 150px;
  text-align: center;
  height: 60px;
  font-size: 25px;
  padding: 16px;
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 70px;
}  
.okBtn{
    font-size: 18px;
    background-color: #BE3144;
    right: 180px;
    width: fit-content;
    color: white;
}
.printDevis
{
  position: absolute;
  right: 150px;
  background-color: #364547;
  margin: auto;
  height: 45px;
  margin-top:30px;
  border-radius: 20px;
  width: fit-content;
  min-width: 135px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  margin-right: 12px;
}
.printIcon
{
  color: #d6a217;
}
.printDevis:hover .printIcon
{
  color: white;
  transition: 0.3s;
}
.backBtn
{
  position: absolute;
  right: 0px;
  background-color: #ca9b1b;
  margin-top: 30px;
  border-radius: 20px;
  height: 45px;
  width: 150px;
  color: #364547;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 20px;
}
}
.ajouterLigneDevisDialog
{
  position: absolute;
  right: 325px;
  background-color: #ca9b1b;
  margin-top: 30px;
  border-radius: 20px;
  height: 45px;
  width: 215px;
  color: #364547;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 20px;
}
/**************************************/
@media print {
  .tableDevis
  {
      padding-left: 15px;
      padding-right: 15px;
      border:1px solid rgba(128, 128, 128, 0.179);
      border-radius: 20px;overflow:hidden ;
      
  }
  .footerValue
  {
    margin: auto;
    font-weight: 500;
    color: #364547;
    text-align: center;
    
  }

  .tableTotal
  {
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    border:1px solid rgba(128, 128, 128, 0.179);
  }
  .tableContainer
  {
    position: relative;
  }
  .tableTotalHeadr
  {
    background: white;
    height: 45px;
    border-top: #e4e4e4 1px solid;
  }
  .titleFooter
  {
    font-weight: 500;
    background-color: #425c5a0d;
    padding: 12px;
    color: #364547;
    text-align: center;
    height: 100%;
  }

  .headerDevis
  {
    height: 200px;
    color: #364547;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    margin: auto;
  }
  .printDevisSection
  { 
    padding: 50px;
    padding-top: 50px;
    background-color: white;
    height: 100%;
    width: 100%!important;
  }
  .tableHeaderDevis
  {
    height:45px ;
    border-bottom: 0px;
    background-color: #425c5a0d;
    padding: 12px;
    color: #333333;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-size: 18px;
  }
  .remaqueText
  {
    text-align: center;
    font-size: 10px;
    color:  gray;
    margin-top: 30px;
    padding: 0px;
  }
  .colunDevis
  {
    border-top:rgba(128, 128, 128, 0.186) 1px solid;
    height: 45px;
    padding: 12px;
    text-align: center;
    color: #333333;
    font-weight: 500;
  }
  .titlePrint
  {
    font-weight: 500;
    margin: auto;
    width: 150px;
    text-align: center;
    height: 60px;
    font-size: 25px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 70px;
  } 
  .backBtn
  {
    display: none;
  }
  .printDevis
  {
    display: none;
  }
}