
        /*div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        
        }
        .imgNotFound ,h1
        {
            min-width: 30%;
            max-width: 30%;
            position: fixed;
        
        }
        h3{
            position:absolute;
            top: 70%;
            font-weight: bold;

        }
        h5
        {
            position: absolute;
            top: 73%;
            text-align: center;
        }
*/
h3
{
    padding-top: 7px;
    margin-bottom: 0px;
    font-weight: bold;
    width: 350px;
}
h5
{
    width: 350px;
}
div.box{
    width: auto;
    margin:auto;
    max-height: 100vh;
    text-align: center;
}
img{
    max-height:551px;
}
.backBtn{
    color:#e9b423;
    height: 50px ;
    font-size: 20px ;
    font-weight: 100;
    position: absolute;
    left: -150px;
    top: 20px;
    width: 200px;
    transition:all 0.3s ;
    border-radius: 50px;;
}
.backBtn:hover{
    left: -38px;
}
.material-icons{
    border: 2px solid #e9b423;
    border-radius: 50%;
    padding: 3px;
    position : absolute;
    right: 8px;
}
