<div class=" containerPadding">

    <div class="inputData shadow">
        <span class="toggleDevis">Panier <mat-slide-toggle (change)="anableDevis()" [checked] = "this.isDevis">Devis</mat-slide-toggle></span>

        <form #f="ngForm" ngForm class="" (keydown.enter)="$event.preventDefault()">
            <div class="row">
                <mat-form-field class="inputFieldRef col">
                    <mat-label>Réf</mat-label>
                    <input  [required]="!libelleExiste" minlength="8" maxlength="15" matInput
                        placeholder="Ex. 5F10991298" name="ref" [(ngModel)]="refPr" #ref="ngModel"
                        (keydown.enter)="(ref.valid)?getStock():''" oninput="this.value = this.value.toUpperCase()">

                    <mat-hint *ngIf="ref.touched&&!ref.valid" class="hint">
                        <mat-icon>error</mat-icon>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saisissez la réference de la pièce
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="textArea col">
                    <mat-label>libellé</mat-label>
                    <textarea rows="1" matInput name="libelle" [(ngModel)]="libellePr" #libelle="ngModel"
                        (input)="verifLibelle()" (click)="verifLibelle()"
                        (keydown.enter)="(libelleExiste)?getStock():''"
                        oninput="this.value = this.value.toUpperCase()"></textarea>

                </mat-form-field>
            </div>
            <button type="submit" class=" chercherBtn" mat-raised-button [disabled]="!f.valid"
                (click)="getStock();this.refPr='';this.libellePr=''">
                <mat-spinner *ngIf="loading" style="margin:auto" diameter="30"></mat-spinner>
                <mat-icon *ngIf="!loading" aria-hidden="false"><span>
                        manage_search</span>
                </mat-icon>
                <span *ngIf="!loading"> Chercher</span>

            </button>
        </form>
    </div>
    <div class="resultats">
        resultats ({{this.listOfPr.length}})
    </div>
    <div class="row tableHeader shadow">
        <div class="panierBgImage" @chariotStock>
            <img width="60px" src="../../../../assets/image/panierPng.png" alt="">
        </div>
        <div class="col">
            Dispo
        </div>
        <div *ngIf="!this.isDevis" class="col">
            Q.Cmd.Ach
        </div>
        <div class="col">
            Réf Art
        </div>
        <div class="col-2">
            Libellé
        </div>
        <div class="col">
            PU
        </div>
        <div *ngIf="this.isDevis" class="col-2">
           Remise %
        </div>
        <div class="col">
            Qté
        </div>

        <div class="col btn1">
        </div>
    </div>
    <div *ngIf="loadingListe" class="row tableHeader lodingSpiner composant shadow">
        <mat-spinner style="margin:auto" diameter="30"></mat-spinner>
    </div>
    <div *ngFor="let pr of listOfPr;let index=index" class="row tableHeader composant shadow" @consulterStockAnim>
        <div class="col dispo">
            <mat-icon *ngIf="pr.stock > 5" class="stockDispoIcon">assignment_turned_in</mat-icon>
            <mat-icon *ngIf="pr.stock > 0 && pr.stock < 5" class="stockLimitIcon">assignment_late</mat-icon>
            <mat-icon *ngIf="!pr.stock" class="stockNonDispotIcon">cancel</mat-icon>
            <mat-icon *ngIf="pr.stock == -1" class="stockNonDispotIcon">production_quantity_limits</mat-icon>
        </div>
        <div *ngIf="!this.isDevis" class="col textCompo"><span *ngIf="!pr.stock">{{pr.qteAchat}}</span></div>
        <div class="col textCompo"><span>{{pr.codeArt}}</span></div>
        <div class="col-2 textCompo"><span>{{pr.libelle}}</span></div>
        <div class="col textCompo"><span>{{this.formatMoney(pr.pu)}}</span></div>
        <div *ngIf="this.isDevis" class="col-2" style="padding-top: 5px;">
            <div class="tauxSpiner shadow-sm">
                <button mat-flat-button class="addBtn" (click)="addTaux()">
                    <span>+</span>
                </button>
                <input maxlength="2" pattern="\d{2}" type="text" name="qte" class="inputQte" [(ngModel)]="tauxRemis">
                <button mat-flat-button class="removeBtn" (click)="removeTaux()">
                    <span>-</span>
                </button>
            </div>
        </div>
        <div class="col"  style="padding-top: 5px;">
            <div class="qteSpiner shadow-sm">
                <button mat-flat-button class="addBtn" (click)="addQte()">
                    <span>+</span>
                </button>
                <input type="number" name="qte" class="inputQte" [(ngModel)]="qte">
                <button mat-flat-button class="removeBtn" (click)="removeQte()">
                    <span>-</span>
                </button>
            </div>
        </div>
        <div class="col btn1" [ngClass]="{'btnDevis':this.isDevis}">
            <button *ngIf="!this.isDevis" mat-mini-fab class="addPanier " color="primary"
                (click)="(this.qte>pr.stock&&pr.stock>0)? afficherSnackBar():((!pr.stock || pr.stock < 5)?cmdFermeDialog(pr):addLine(pr,null));getPanierSize()">
                <mat-icon class="addPanierIcon">add_shopping_cart</mat-icon>
            </button>
            <button *ngIf="this.isDevis" [ngClass]="{'addDevis': pr.stock != -1}"  mat-mini-fab class="addDevis " (click)="this.addToDevis(pr)" [disabled]="pr.stock == -1">
                <span class="material-icons"> note_add </span>
            </button>
        </div>
    </div>
    <div *ngIf="this.isDevis" class="inputDataDevis shadow" @consulterStockAnim>
        <form #devisForm="ngForm" ngForm class="formStyle">
            <div class="row">
                <mat-form-field class="col-4">
                    <mat-label>Nom Client</mat-label>
                    <input required [(ngModel)]="nomClient" maxlength="20" matInput placeholder="Ex. Mohamed"
                        name="nomClient">
                </mat-form-field>

                <mat-form-field class="col-4">
                    <mat-label>ID Fiscale</mat-label>
                    <input required type="text" [(ngModel)]="idFiscale" maxlength="8" minlength="8" matInput
                        placeholder="Ex. 12549858" name="idFiscale">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label>Timbre </mat-label>
                    <input required matInput value="{{formatMoney2(this.timbre)}}" disabled="true" placeholder="Ex. 20" name="timbre">
                </mat-form-field>
            </div>
            <div class="row">
                <button type="submit" class="passerDevis" mat-raised-button [disabled]="!devisForm.valid || this.data.length==0"
                    (click)="passerDevis()">
                    <!-- <mat-spinner style="margin:auto" diameter="30"></mat-spinner> -->
                    <mat-icon class="addDevisIcon" aria-hidden="false"><span>
                            task</span>
                    </mat-icon>
                    <span> Passer</span>
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="this.isDevis&&this.data.length||this.loadingListeDevis" class="mat-elevation-z8" @consulterStockAnim>
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="codeArt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Réf Art </th>
                <td mat-cell *matCellDef="let row"> {{row.codeArt}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="libelle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Libellé </th>
                <td mat-cell *matCellDef="let row"> {{row.libelle}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="puAgents">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PU </th>
                <td mat-cell *matCellDef="let row"> {{formatMoney2(row.puAgents)}} </td>
            </ng-container>
            <!-- Color Column -->
            <ng-container matColumnDef="qte">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Qté </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color">{{row.qte}} </td>
            </ng-container>
            <!-- Color Column -->
            <ng-container matColumnDef="totLigneHT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total HT </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color">{{ formatMoney2(row.totLigneHT)}} </td>
            </ng-container>
            <!-- Color Column -->
            <ng-container matColumnDef="tauxRemis">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Remise </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color">{{row.tauxRemis}} %</td>
            </ng-container>
             <!-- Color Column -->
             <ng-container matColumnDef="tva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TVA % </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color">{{this.TVA}} %</td>
            </ng-container>
            <!-- Color Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="thBTN">ㅤ</th>
                <td mat-cell *matCellDef="let row,let index=index " [style.color]="row.color" class="btnContainer">
                    <button mat-icon-button (click)="delete(index)" class=" deleteBtn">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td *ngIf="this.data.length==0&&!this.loadingListeDevis" class="mat-cell stockVide">Devis
                    vide !!</td>
                <td *ngIf="this.loadingListeDevis" class="mat-cell stockVide" colspan="7">
                    <mat-spinner style="margin:auto" diameter="30"></mat-spinner>
                </td>
            </tr>
        </table>
        <div class="devisFooter row">
            <span class="col"> Total HT = {{this.formatMoney(this.totalHt)}}</span>
            <span class="col">Total Taxes = {{this.formatMoney(this.totTaxes)}}</span>
            <span class="col">Total Remise = {{this.formatMoney(this.totRemis)}}</span>
            <span class="col"> Total TTC = {{this.formatMoney(this.totalTtc)}}</span>
        </div>
        <mat-paginator hidePageSize="true" class="tableFooter"></mat-paginator>
    </div>
</div>