*{
  user-select: none;
}
div.tableHeader
{
  background-color: #364547;
  border-radius: 20px;
  height: 50px;
  text-align: center;
  width:95%;
  min-width: 600px;
  padding: 13px;
  margin:auto;
  color: #d6a217;
  font-weight: 500;
  font-size: 15px;
  padding-top: 16px;
  user-select: none;
  position: relative ;
}

div.containerPadding
{
  padding-top: 20px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  min-width: 900px !important;
  width: 95%;
  height: 100%;
  transition: 0.9s;
}

div.composant
{
  background-color: white;
  margin-top: 10px;
  color: #415959;
  position: relative;
  font-size: 13px;
}
.addPanier
{
  position: absolute;
  top: -12px;
  z-index: 10;
  transition : 0.3s;
}
.addPanier:hover{
  color:#d6a217;
}
.btn1{
  max-width: 50px;
  margin-right: 10px;
}

.cploading{
  margin-top: 10px  !important;
  padding: 10px !important;
  position: relative;
}
/*********input data**************/
.inputData{
  padding: 20px;
  padding-top: 12px;
  width:95%;
  min-width: 600px;
  margin: auto;
  border-radius: 20px;
  height: 150px;
  background-color: white;
  position: relative;
}
.hint{
  color: #d93025;
  font-size: 13px;
  position: relative ; 
  line-height: 1.2;
  font-style: italic;
}
.hint mat-icon{
  text-align: center ;
  font-size: 15px;
  position: absolute;
  top : -1px;
}
.inputFieldRef
{
  min-width: 250px;
  max-width: 250px;
}
.textArea
{
  min-width: 250px;
  max-width: 250px;
}
textarea
{
  max-height: 60px;
}
.resultats
{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #415959;
  width: 95%;
  margin: auto;
  font-weight: 500;
}
.chercherBtn
{
  position: absolute;
  background-color: #d6a217;
  right: 30px;
  bottom: 54px;
  border-radius: 20px;
  height: 45px;
  width: 150px;
  color: #415959;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}
.inputQte
{
  color: #415959;
  max-width: 50px;
  background-color: transparent;
  border: 0px transparent;
  text-align: center;
  outline: none;
  padding: 0px;
  height: 20px;
  height: 40px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin:0;
}
.qteSpiner
{
  background-color: #E3F2F1;
  border-radius: 20px;
  position: absolute;
  height: 40px;
  width: 100px;
  top: -11px;
  left: 10px;
}

.addBtn
{
  color: #d6a217;
  position: absolute;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 20px;
  right: 0px;
  height: 40px;
  width: 30px !important;
  min-width: unset !important;
  padding: 0px !important;
  background-color: transparent !important;
  z-index: 10;
}
.removeBtn
{
  color: #d6a217;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 30px;
  font-weight: 400;
  left: 0px;
  height: 40px;
  width: 30px !important;
  min-width: unset !important;
  padding: 0px !important;
  background-color: transparent !important;
}
.stockDispoIcon
{
  color:#2ecc71 ;
  position: absolute;
  top: -3px;
  left: 50px;
}
.stockLimitIcon
{
  color:#e67e22 ;
  position: absolute;
  top: -3px;
  left: 50px;
}
.stockNonDispotIcon
{
  color: #c0392b;
  font-size: 30px;
  position: absolute;
  top: -5px;
  left: 43px;
}
.lodingSpiner
{
  padding: 0px !important;
}
@media (max-width: 1200px ) and (min-width: 1000px ){
  .stockNonDispotIcon
  {
    left: 30px;
  }

}

.panierBgImage
{
  position: absolute;
  top: -56px;
  right: 20px;
}
.toggleDevis
{
  margin-bottom: 10px;
  font-size: 18px;
  color: #415959;
  font-weight: 500;
  letter-spacing: 2px;

}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #d5a930a3;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #d6a217;
}
.addDevis
{
  position: absolute;
  top: -12px;
  z-index: 10;
  transition : 0.3s;
  background-color: #d6a217;
  color: white;
}
.addDevis:hover{
  background-color: #364547;
  color:#d6a217;
  transition : 0.3s;
}
/*************Devis*****************/
.TypeCommand
{
    margin-right: 40px;
    margin-left: 40px;
    min-width: 250px;
    max-width: 250px;
}
.passerDevis
{
    background-color: #d6a217;
    margin: auto;
    margin-top:20px;
    border-radius: 20px;
    height: 45px;
    width: 135px;
    color: #415959;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    position: absolute;
    right: 185px;
}
.addDevisIcon
{
  color: #E3F2F1;
}
.printDevis
{
  position: absolute;
  right: 10px;
  background-color: #364547;
  margin: auto;
  margin-top:20px;
  border-radius: 20px;
  height: 45px;
  width: 150px;
  min-width: 135px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  margin-right: 12px;
}
.printIcon
{
  color: #d6a217;
}
.printDevis:hover .printIcon
{
  color: white;
  transition: 0.3s;
}
.checkBoxAnnule
{
  margin-top: 20px;
  padding-left: 20px;
  color: #415959;
  font-size: 17px
}
.inputDataDevis{
  padding: 30px;
  width:95%;
  min-width:600px;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  height:180px;
  background-color: white;
  position: relative;
}
table {
  width: 100%;
  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  text-align: center !important;
}

tr.mat-header-row
{
  background-color: #364547 !important;
  
}
.mat-elevation-z8{    
  border-radius: 20px;
  overflow:hidden !important;
  text-align: center !important;
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: 20px;
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  padding-left: 18px;
  font-size: 16px;
  letter-spacing: 2px !important;
  color: #d6a217 !important;  
}

::ng-deep .mat-sort-header-arrow
{
  color: #d6a217 !important;
}
.inputeText
{
  width: 300px;
  position: absolute;
  left: 30px;
  padding-top: 10px;
}
.mat-cell{
  color :#3D5654;
}
h1
{
  color: #425c5a;
  font-size: 27px;
  font-weight: 450;
  letter-spacing: 1px;
}
.resultats
{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
    color: #415959;
    width: 95%;
    font-weight: 500;
}
.stockVide
{
  color: #364547;
  font-weight: 500;
}
.btnContainer
{
  position: relative;
}
.deleteBtn
{
  position: absolute;
  bottom:5px;
  right: 10px;
}
:host ::ng-deep .mat-paginator-range-actions
{
  display: none !important;
}
.tableFooter
{
  height: 45px;
  background-color:#f2f2f2;
}
.devisFooter
{
  width: 100%;
  right: 30px;
  position: absolute;
  bottom: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #364547;
}
.inputTaux
{
  position: absolute;
  left: 50px;
  top: -15px;
  width: 50px;
}
.tauxSpiner
{
  background-color: #E3F2F1;
  border-radius: 20px;
  position: absolute;
  height: 40px;
  width: 100px;
  top: -11px;
  left: 35px;
}
/************print style****************/
.headerDevis
{
  height: 120px;
  color: #364547;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
}
.printDevisSection
{    
  padding: 10px;
  padding-top: 50px;
  background-color: white;
  height: 100%;
  width: 150%;
}
.tableFooter
{
  background-color: #36454710;
  height: 45px;
  font-weight: 700;
}
.footerLeft{
  border-bottom-left-radius: 20px !important;
}
.footerRigth{
  border-bottom-right-radius: 20px !important;
}
/**************************************/