<div class=" container containerPadding">
    <div class="inputData shadow">
        <form #f="ngForm" ngForm class="formStyle" (keydown.enter)="$event.preventDefault()">
            <div class="row">
                <mat-form-field class="inputFieldRef col">
                    <mat-label>Réf</mat-label>
                    <input [required]="!libelleExiste" minlength="8" maxlength="30" matInput
                        placeholder="Ex. 5F10991298" name="ref" [(ngModel)]="refPr" #ref="ngModel"
                        (keydown.enter)="(ref.valid)?getStock():''" oninput="this.value = this.value.toUpperCase()">

                    <mat-hint *ngIf="ref.touched&&!ref.valid" class="hint">
                        <mat-icon>error</mat-icon>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saisissez la réference de la pièce
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="textArea col">
                    <mat-label>libellé</mat-label>
                    <textarea rows="1" matInput name="libelle" [(ngModel)]="libellePr" #libelle="ngModel"
                        (input)="verifLibelle()" (click)="verifLibelle()"
                        (keydown.enter)="(libelleExiste)?getStock():''"
                        oninput="this.value = this.value.toUpperCase()"></textarea>

                </mat-form-field>
            </div>
            <button type="submit" class="chercherBtn" mat-raised-button [disabled]="!f.valid"
                (click)="getStock();this.refPr='';this.libellePr=''">
                <mat-spinner *ngIf="loading" style="margin:auto" diameter="30"></mat-spinner>
                <mat-icon *ngIf="!loading" aria-hidden="false"><span>
                        manage_search</span>
                    </mat-icon>
                <span *ngIf="!loading"> Chercher</span>

            </button>
        </form>
    </div>
    <div class="resultats">
        resultats ({{this.listOfPr.length}})
    </div>
    <div class="row tableHeader shadow">
        <div class="panierBgImage" @chariotStock>
            <img width="60px" src="../../../../assets/image/panierPng.png" alt="">
        </div>
        <div class="col">
            Dispo
        </div>
        <div class="col">
            Q.Cmd.Ach
        </div>
        <div class="col">
            Réf Art
        </div>
        <div class="col-4">
            Libellé
        </div>
        <div class="col">
            PU
        </div>
        <div class="col">
            Qté
        </div>
        <div class="col btn1">
        </div>


    </div>
    <div *ngFor="let pr of listOfPr;let index=index" class="row tableHeader composant shadow" @consulterStockAnim>
        <div class="col">
            <mat-icon *ngIf="pr.stock > 5" class="stockDispoIcon">assignment_turned_in</mat-icon>
            <mat-icon *ngIf="pr.stock > 0 && pr.stock < 5" class="stockLimitIcon">assignment_late</mat-icon>
            <mat-icon *ngIf="!pr.stock" class="stockNonDispotIcon">cancel</mat-icon>
            <mat-icon *ngIf="pr.stock == -1" class="stockNonDispotIcon">production_quantity_limits</mat-icon>
        </div>
        <div class="col"><span *ngIf="!pr.stock">{{pr.qteAchat}}</span></div>
        <div class="col"><span>{{pr.codeArt}}</span></div>
        <div class="col-4"><span>{{pr.libelle}}</span></div>
        <div class="col"><span>{{this.formatMoney(pr.pu)}}</span></div>
        <div class="col">
            <div class="qteSpiner shadow-sm">
                <button mat-flat-button class="addBtn" (click)="addQte(index)">
                    <span>+</span>
                </button>
                <input type="number" name="qte" class="inputQte" [(ngModel)]="qte">
                <button mat-flat-button class="removeBtn" (click)="removeQte(index)">
                    <span>-</span>
                </button>
            </div>
        </div>
        <div class="col btn1">
            <button mat-mini-fab class="addPanier " color="primary"
                (click)="(this.qte>pr.stock&&pr.stock>0)? afficherSnackBar():((!pr.stock || pr.stock < 5)?cmdFermeDialog(pr):addLine(pr,null));getPanierSize()">
                <mat-icon class="addPanierIcon">add_shopping_cart</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="loadingListe" class="row tableHeader lodingSpiner composant shadow">
        <mat-spinner style="margin:auto" diameter="30"></mat-spinner>
    </div>

</div>