
*{
    user-select:none;
}
.conBox{
    min-width : 300px;
    max-width : 800px;
    margin: auto ;
    margin-top: 15vh;
    margin-bottom: 15vh;
    background-color: white;
    border-radius: 35px;
    color : #415959;
    text-align: center;
    font-size: 16px;
    z-index: 50;
}
.boxTitle{
    padding-top :10;
    text-align: center ;
    font-size : 32px;
    font-weight: 100;
}
.userStyle{
    margin-top: 80px;
}
.mdpStyle{
    margin-top:20px ;
    position : relative;
}
.psdBtn{
    position : absolute ; 
    right : 0px;
    bottom : 0px 
}
.example-full-width {
    width: 75%;
}
.conBtn{
    margin-top : 40px;
    height : 50px; 
    min-width : 140px;
    font-size : 16px;
    background-color: #e9b423;
    color:#415959 
}
.conBtn:disabled{
    background-color: #e9b42362;
    color:#4159598c 
}
.firstHalf{
    padding : 50px
}
.secondHalf{
    background-color:#415959 ;
    padding : 0px;
    margin:0px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
@media(max-width: 950px)
{
    .secondHalf{
        display: none;
    }
}

.imgDim{
    max-width : 350px
}
