<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="conBox shadow">
                <div class="row">
                    <div class="col-md firstHalf">
                        <div class="row">
                            <div class="col-md boxTitle">
                                Bienvenue
                            </div>
                        </div>
                        <div class="row userStyle">
                            <div class="col-md">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Nom d'utilisateur</mat-label>
                                    <input matInput placeholder="Ex. Ramez">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mdpStyle">
                            <div class="col-md">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mot de passe</mat-label>
                                    <input type="password" matInput placeholder="Ex. • • • • • • • •">
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row ">
                            <div class="col-md">
                                <button class="conBtn"  mat-raised-button color="primary">Connexion</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md secondHalf">
                        <img class="imgDim" src="../../../assets/image/login.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
