<div class="container ">
    <div class="row ">
        <div class="col-md">
            <div *ngIf="showLoginBox" class="conBox shadow " @loginFade>
                <div class="row ">
                    <div class="col-md firstHalf">
                        <div class="row">
                            <div class="col-md boxTitle">
                                Bienvenue
                            </div>
                        </div>
                        <div class="row userStyle">
                            <div class="col-md">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Nom d'utilisateur</mat-label>
                                    <input matInput placeholder="Ex. Ramez">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mdpStyle">
                            <div class="col-md">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mot de passe</mat-label>
                                    <input type="password" [type]="hide ? 'password' : 'text'" matInput placeholder="">
                               
                                    <button class="psdBtn" (click)="hide=!hide" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row ">
                            <div class="col-md">
                                <button (click)="showLoginBox=!showLoginBox" class="conBtn"  mat-raised-button >Connexion</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md secondHalf shadow">
                        <img class="imgDim" src="../../../assets/image/login.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
