div.containerPadding
{
    padding-top: 70px;
    margin: auto;
    padding-bottom: 50px;
    width: 95%;
    height: 100%;
    transition: 0.9s;
}
.resultats
{
    padding-top: 25px;
    padding-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #415959;
    width: 95%;
    margin: auto;
    font-weight: 500;
}
.tableHeader
{
  background-color: #364547;
  border-radius: 20px;
  height: 50px;
  text-align: center;
  width:95%;
  min-width: 950px;
  padding: 13px;
  margin:auto;
  margin-top: 20px;
  color: #d6a217;
  font-weight: 500;
  font-size: 15px;
  padding-top: 16px;
  user-select: none;
  transition: ease-in-out 0.3s
}
div.composant
{
  background-color: white;
  margin-top: 10px;
  color: #415959;
  position: relative;
  font-size: 12px;
}
.bottomButtons{
    padding : 5px;
}
.BtnInvisible
{
    position: absolute;
    height: 50px;
    text-align: center;
    left: 2px;
    top: -16px;
    right: 2px;
    z-index: 1;
}
.BtnIN
{
    border-radius: 20px !important;
    width:100%;
    min-width: 950px;
}
.inputData{
    padding: 30px;
    width:95%;
    min-width: 950px;
    margin: auto;
    border-radius: 20px;
    height:190px;
    background-color: white;
    position: relative;
}
.commanderBtn
{
    background-color: #d6a217;
    margin: auto;
    margin-top:20px;
    border-radius: 20px;
    height: 45px;
    width: 150px;
    color: #415959;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}
.checkBoxAnnule
{
    margin-top: 20px;
    padding-left: 20px;
    color: #415959;
    font-size: 17px
}