.msg{
    font-size: large;
}
button{

    border : 0px;  
    height: 40px;
    border-radius : 20px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
    position: absolute ;
    bottom : 10px;
}
.supprimerBtn{
    background-color: #06B440;
    color : white ; 
    right : 15px;
    width: 116px;
    text-align: center;
}
.okBtn{
    background-color: #d6a217;
    color :#263636  ;
    right : 140px;
    width: 94px;
}

