<div class="container containerPadding">
    <div class="inputData shadow">
        <form #f="ngForm" ngForm class="formStyle">
            <div class="row">
                <mat-form-field class="col-3" >
                    <mat-label>Type de Commande</mat-label>
                    <mat-select name="typeCmd" [(ngModel)]="typeCmd" >
                        <mat-option value="2">Tous Les Commandes</mat-option>
                        <mat-option value="1">Commande Ferme</mat-option>
                        <mat-option value="0">Commande Normale</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-3" (keydown.enter)="filtre()" >
                    <mat-label>N°Commande</mat-label>
                    <input  name="numCmd" [(ngModel)]="numCmd" maxlength="10" matInput placeholder="Ex. 5F10991298"
                        name="refCmd">
                </mat-form-field>
                <mat-form-field class="col-3">
                    <mat-label>Réf Art</mat-label>
                    <input  matInput placeholder="Ex. 5F10991298" name="refArt" [(ngModel)]="refArt">
                </mat-form-field>

                <mat-checkbox class="checkBoxAnnule col-3" [(ngModel)]="isAnnuler" name="isAnnuler" value="1"> &nbsp;
                    &nbsp;Annuleés</mat-checkbox>
            </div>
            <div class="row secondRow">
                <mat-form-field class="col-3">
                    <mat-label>Statut Commande</mat-label>
                    <mat-select name="statutCmd" [(ngModel)]="statutCmd">
                        <mat-option value="0">Tous Les Commandes</mat-option>
                        <mat-option value="1">commande Enregistrée</mat-option>
                        <mat-option value="1">commande Livrée</mat-option>
                        <mat-option value="3">commande Facturée</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="datePicker col-3">
                    <mat-label>Choisir l'intervale</mat-label>
                    <mat-date-range-input [rangePicker]="rangePicker" [formGroup]="range" >
                        <input name="startDate" formControlName="start" matStartDate placeholder="Date debit">
                        <input nam="endDate" formControlName="end"matEndDate placeholder="Date Fin">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #rangePicker>
                        <mat-date-range-picker-actions>
                            <button mat-button matDateRangePickerCancel>Annuler</button>
                            <button mat-raised-button color="primary" matDateRangePickerApply>Appliquer</button>
                        </mat-date-range-picker-actions>
                    </mat-date-range-picker>
                </mat-form-field>

                <mat-form-field class="col-3">
                    <mat-label>VIN</mat-label>
                    <input name="VIN" [(ngModel)]="VIN" minlength="17" maxlength="17" matInput
                        placeholder="Ex.1HGBH41JXMN109186" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
                <section class="checkBoxAnnule col-3">
                    <mat-checkbox> &nbsp; &nbsp;Selection</mat-checkbox>
                </section>
            </div>
            <div class="row">
                <button type="submit" class="commanderBtn" mat-raised-button (click)="filtre()" [disabled]="this.valide">
                    <mat-spinner *ngIf="loadingRecherchBtn" style="margin:auto" diameter="30"></mat-spinner>
                    <mat-icon *ngIf="!loadingRecherchBtn" aria-hidden="false"><span>
                        manage_search</span>
                    </mat-icon>
                    <span *ngIf="!loadingRecherchBtn">Rechercher</span>
                </button>
            </div>
        </form>
    </div>
    <div class="resultats">
        Commande ({{this.listeCmd.length}})
    </div>

    <div class="row tableHeader shadow">
        <div class="col-2">
            N°Cmd
        </div>
        <div class="col">
            Date Cmd
        </div>
        <div class="col">
            Heure Cmd
        </div>
        <div class="col-2">
            Type Cmd
        </div>
        <div class="col">
            Réf Cmd
        </div>
        <div class="col-2">
            Total HT
        </div>
        <div class="btn2"></div>
        <div class="col btn1">
        </div>
    </div>
    <div *ngFor="let item of newList ;let index=index">

        <div class="row shadow tableHeader composant" [class]="(!detailValue[index])?'DetailHeader':''" @enterAnimation>

            <div class="col">
                <div class="row BtnInvisible" (click)="openListePr(newList[index].numCde)">
                    <button class="BtnIN col-12" mat-button>ㅤ</button>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-2"><span>{{newList[index].numCde}}</span></div>
                            <div class="col"><span>{{newList[index].date_Cmd| date :'dd/MM/yyyy'}}</span></div>
                            <div class="col"><span>{{newList[index].heure_Cmd| date :'HH:mm:ss'}}</span></div>
                            <div class="col-2"><span>{{(newList[index].type_Cmd==0)?'commande normale':'commande
                                    ferme'}}</span></div>
                            <div class="col"><span>{{newList[index].ref_Cmd}}</span></div>
                            <div class="col-2"><span>{{this.formatMoney(newList[index].totHt)}}</span></div>
                        </div>
                    </div>
                    <div class="btn2">
                        <button mat-icon-button (click)="openDetail(index)">
                            <mat-icon>{{(!moreDetailtest[index])?'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
                        </button>
                    </div>
                    <div class="col btn1">
                        <button *ngIf="newList[index].annulee ==0" mat-mini-fab class="addPanier deleteBtn"
                            [color]="(!detailValue[index])?'':'primary'" (click)="openDialog(newList[index].numCde)">
                            <mat-icon class="addPanierIcon deleteBtn">block</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!detailValue[index]" class="row moreDetailContainer shadow" @morDetailAnim>
            <div class="container">
                <div class="row moreDetailHeader">
                    <div class="col">
                        Enregistrée
                    </div>
                    <div class="col-2">
                        Réf Enregistrement
                    </div>
                    <div class="col-2">
                        Enregistrée Le
                    </div>
                    <div class="col">
                        livreé
                    </div>
                    <div class="col">
                        livreé Le
                    </div>
                    <div class="col">
                        Facturée
                    </div>
                    <div class="col">
                        Facturée Le
                    </div>
                    <div class="col">
                        Tot Facture
                    </div>
                </div>
                <div class="row composant composantMore">
                    <div class="col">
                        <mat-icon>{{(newList[index].enregistree==1)?'task_alt':'highlight_off'}}</mat-icon>
                    </div>
                    <div class="col-2">
                        <span>{{newList[index].ref_Enregistrement}}</span>
                    </div>
                    <div class="col-2">
                        <span>{{newList[index].date_Enregistrement| date :'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="col">
                        <mat-icon>{{(newList[index].livree==1)?'task_alt':'highlight_off'}}</mat-icon>
                    </div>
                    <div class="col">
                        <span>{{ newList[index].date_Liv | date :'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="col">
                        <mat-icon>{{(newList[index].facturee==1)?'task_alt':'highlight_off'}}</mat-icon>
                    </div>
                    <div class="col">
                        <span>{{ newList[index].date_Facture| date :'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="col">
                        <span>{{ this.formatMoney(newList[index].montant_Facture)}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow tableHeader bottomButtons"  @enterAnimation>
        <div class="col" style="text-align: left;">
            <button mat-icon-button [disabled]="this.numPage==1" (click)="this.pagePrec()" >
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        
        <div class="col" style="font-size: 17px;padding-top:9px">
            P A G E &nbsp;&nbsp; {{this.numPage}}
        </div>

        <div class="col" style="text-align: right;" >
            <button mat-icon-button [disabled]="(this.numPage*10)+1>this.listeCmd.length" (click)="this.pageSuiv()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        
    </div>
    <div *ngIf="loading" class="row tableHeader cploading shadow composant" style="padding-top: 10px;">
        <div class="col">
            <mat-spinner style="margin:auto;top: 0px;" diameter="30"></mat-spinner>
        </div>
    </div>
</div>


<!-- <table cellspacing="0" cellpadding="0" class="table table-striped shadow">
    <tr>
        <th class="align-middle">N°Cmd</th>
        <th class="align-middle">Date Cmd</th>
        <th class="align-middle">Heure Cmd</th>
        <th class="align-middle">Type Cmd</th>
        <th class="align-middle">Réf Cmd</th>
        <th class="align-middle">Enregistrée</th>
        <th class="align-middle">Réf Enregistrement</th>
        <th class="align-middle">Enregistrée Le</th>
        <th class="align-middle">livreé Le</th>
        <th class="align-middle">Total HT</th>
        <th class="align-middle">Facturée</th>
        <th class="align-middle">Facturée Le</th>
        <th class="align-middle">Tot Facture</th>
    </tr>
</table> -->