<div class="sizeError" style="color : black;font-weight: 300;">
    <p>Mettre à jour votre photo </p>
</div>
<div class="sizeError" *ngIf="imageVolumineux">
    image très Volumineux (taille maximale 1Mo)
</div>

<div class="scroll" *ngIf="imageVolumineux==false">
    <div class="row">
     
        <button class="uploadBtn" mat-raised-button (click)="inputFunction()">
            <input class="hideInput" hidden="true" type="file" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)"
                id="choseImage" />
            <span>Upload Photo</span>
        </button>

    
        <button class="confirmBtn" mat-raised-button [mat-dialog-close]="imgResultAfterCompress" >
            <span>Mettre a jour</span>
        </button>


    </div>

    <div class="row" style="margin:auto">
        <div class="col">
            <div class="cropper">
                <image-cropper style="max-height: 300px;width: 300px;"[imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
                    [roundCropper]="true" [hideResizeSquares]="true" [maintainAspectRatio]="true" [aspectRatio]="1/ 1"
                    format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>

        </div>
        <div class="col" *ngIf="imageChangedEvent!=''">
            <div class="preview">
                <img style="border-radius: 100%;max-height: 250px;max-width: 250px;" [src]="croppedImage"  />
            </div>
        </div>
    </div>


</div>