.sidebar {
    min-width: 250px;
    max-width: 250px;
    height:100vh;
    min-height:700px;
    background: #425C5A;
    color: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left:0px;
    transition: all 0.3s ease-in;
}
.hideSideBar
{
    transform: translate(-205px, 0);
    transition : all 0.3 ease-out 
}

.miniFab
{
    position: absolute ;
    right : -5px; 
    margin: 10px;
    background-color: transparent;
    transition : all 0.3s ;
}
.miniFab:hover {
    color : #d6a217;
}

.logout
{
    position: absolute ;
    right : -5px; 
    bottom: 0px;
    margin: 10px;
    background-color: transparent;
    transition : all 0.3s ;
}
.logout:hover{
    color : #eb4d4b;
}


.img img
{
    width:100px ;
    height: 100px; 
    border-radius: 50%;
    margin-top:30px;
    object-fit: contain;
    background: #223836;
}

input[type="file"]
{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    opacity: 0%;
    left: 0px;   
}
input[type="file"]:hover
{
    cursor: pointer !important;
}

.imagButton
{   
    position: absolute;
    left: 145px;
    top: 110px;
    background-color: transparent;
    color: white;
    cursor:pointer !important;
}

div.user-logo
{
    background-color: #3D5654;
    padding-bottom: 10px;
    border-top-right-radius: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}
.wrapper
{
    height: max-content;
}
.avatar img {
    max-width: 80px;
    border-radius: 50%;
    margin-bottom: 10px; 
}
.bg-wrap .user-logo h3
{
    color: #fff;
    font-size: 19px; 
    padding-top: 30px;
    margin-bottom: 3px;
    font-weight: 400;
    transition: 0.3s;;
}
.bg-wrap .user-logo h4
{
    color: #fff;
    font-size: 14px; 
    margin-top: 0px;
    font-weight: 100;
    transition: 0.3s;;
}
.smallerTextSize{
    font-size: 10px !important;
}
/*second section navside*/


/*class angular material d'un bouton*/
.linkBtn
{
    min-width: 230px;
    height: 50px;
    font-size:17px !important ;
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px;
    background-color:#425C5A;
    text-decoration: none;
    font-weight: 400!important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px ;
    color: #E3F2F1;
    padding-right: 30px;
    padding-top: 7px;
    text-align: left;
    margin-top: -1px;
    text-transform: uppercase;
    transition: 0.3s;
}
.active
{
    background-color:#E3F2F1;
    color: #425C5A;
}

.iconButton
{
    color: #d6a217 !important;
    font-size:18px;
    text-align: left;
    margin-right: 10px;
}
.iconButtonHided
{
    position : absolute ; 
    right : 0px;
    top: 15px;
}

.list-unstyled
{
    position: absolute;
    right: 0px;
}
.listUnstyledMarginTop{
    margin-top : 50px;
}
.listUnstyledBgColor{
    position :absolute;
    right: -5px;
    background-color: #E3F2F1;
    width:50px;
    height: 99%;
}

::ng-deep .paddingBody{
    padding-left:257px;
    padding-right: 10px;
}
::ng-deep .removePaddingBody{
    padding-left:45px;
    padding-right: 10px;
}

.topButtonRadius{
    border-bottom-right-radius: 30px;
}
.botButtonRadius{
    border-top-right-radius: 30px;
}

@media(max-width:450px)
{
    ::ng-deep .paddingBody{
        padding-left: 50px;
        padding-right: 10px;
    }
}

@media(max-height:700px)
{
    .sidebar{
       position :absolute  !important; 
       height : 100%;
       bottom:0px;
    }
}
