div.containerPadding
{
  padding-top: 20px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  min-width:950px !important;
  width: 95%;
  height: 100%;
  transition: 0.9s;
}
.StyleRow
{
  height: max-content;
  margin-bottom: 14px;
}
/**********top 5 statistique************/
.top5Art
{
  padding: 0px;
  background-color: white; 
  border-radius: 20px;
  min-height:100%;
  min-width:100%;
}
/*************Cercle ************/
.cercleChart
{
  background-color: white;
  border-radius: 20px;
  min-height:100%;
}

.chart
{
  padding: 32px;
}
/***********polar***************/
.polar
{
background-color: white;
border-radius: 20px;
}