div.containerPadding
{
  padding-top: 20px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  min-width: 900px !important;
  width: 95%;
  height: 100%;
  transition: 0.9s;
}
/**********top 5 statistique************/
.top5Art
{
  background-color: white; 
  border-radius: 20px;
  height: max-content;
}