/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #e3f2f1;
    transition: 0.5s ease-in-out;
}
.blue-snackbar {
    background: #eb4d4b !important;
    border-radius: 35px!important;
    color: white !important;
    min-width : auto !important ; 
    padding-left:60px  !important;
    padding-right:60px !important;
  }