/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html{ height: 100%;}
body{ min-height: 100% !important;}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #e3f2f1;
    transition: 0.5s ease-in-out;
    position:relative;
}
/* Snack bar rouge fixer en haut de la page */
.red-snackbar {
    background: #eb4d4b !important;
    border-radius: 35px!important;
    color: white !important;
    min-width : auto !important ; 
    padding-left:60px  !important;
    padding-right:60px !important;
}
mat-dialog-container{
    border-radius: 25px !important;
    position : relative !important;
  }
  .green-snackbar {
    background: #06b440 !important;
    border-radius: 35px!important;
    color: white !important;
    min-width : auto !important ; 
    padding-left:60px  !important;
    padding-right:60px !important;
}