.containerPage
{
  padding-top: 20px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  min-width: 900px !important;
  width: 95%;
  height: 100%;
  transition: 0.9s;
}

table {
  width: 100%;
  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  text-align: center !important;
}

tr.mat-header-row
{
  background-color: #364547 !important;
  
}
.mat-elevation-z8{    
  border-radius: 20px;
  overflow:hidden !important;
  text-align: center !important;
  position: relative;
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  padding-left: 18px;
  font-size: 16px;
  letter-spacing: 2px !important;
  color: #d6a217 !important;  
}

::ng-deep .mat-sort-header-arrow
{
  color: #d6a217 !important;
}
.inputeText
{
  width: 300px;
  position: absolute;
  left: 30px;
  padding-top: 10px;
}
.mat-cell{
  color :#3D5654;
}
h1
{
  color: #425c5a;
  font-size: 27px;
  font-weight: 450;
  letter-spacing: 1px;
}
.resultats
{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
    color: #415959;
    width: 95%;
    font-weight: 500;
}